@import 'https://fonts.googleapis.com/css?family=Lexend:400,700';

@media (max-width: 650px) {
  html {
    font-size: 60%;
  }
}

html {
  box-sizing: border-box;
  font-size: 64%;
  scroll-behavior: smooth;
  margin: 0 auto;
}

body{  
  font-family:'Lexend', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
  
#navbar{
  background-color: #b06500;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list{
  display: flex;  
  flex-direction: row;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding:12px 24px;
}

.nav-list a:hover{
  background-color: #00a877;
}

#welcome-section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a877;
  color:white;
  margin: 0 auto;
}

h1{
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
h2,p{
  margin: 0;
}

#welcome-section > p{
  font-size: 24px;
  margin: 0 auto;
}

.project-sec{
  text-align: center;
  padding: 120px 24px;
  margin: 0;
  background-color: #fad6a5;
}

.project-sec > h2{
  font-size: 36px;
  color:#b06500;
}
.project-img{
  height: calc(100% - 58px);
  width: 100%;
  object-fit: cover;
}

.project-tile{
color: #fad6a5;
width: 100%;
background-color: #b06500;
margin:0;
padding: 24px 0;

}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 48px;
  width: 100%;
  margin: 0 auto;
  max-width:1280px;
  margin-bottom: 48px;
}
.project-tile:hover{
  color: #00a877;
}

.contact-sec{
  background: linear-gradient(45deg, #cde5c7 25%, #a3cc8c 25%, #a3cc8c 50%, #cde5c7 50%, #cde5c7 75%, #a3cc8c 75%, #a3cc8c 100%);
  background-size: 10px 10px;
  width: 100%;
  height: 80vh;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header > h2{
  color: #b06500;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.contact-header > p{
  color: #b06500;
  font-size: 18px;
  text-align: center;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 48px;
  flex-wrap: wrap;
  color: #b06500;
}

.contact-details {
  font-size: 18px;
  color: #b06500;
  text-shadow: 1px 1px 1px #fff;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: white;
}

footer {
  font-weight: normal;
  display: flex;
  justify-content: space-around;
  padding: 24px;
  background: #b06500;
  border-top: 4px solid #fad6a5;
  color: #fff;
}

footer > p {
  margin: 16px;
  font-size: 12px;
}

footer > i {
vertical-align: middle;
font-size: 10px;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
